@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}
body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(169, 194, 216);
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  max-width: 1440px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.menu {
  display: flex;
  padding: 0 10px;
}
.navbar li {
  font-size: 20px;
  font-weight: 700;
  list-style: none;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar li a {
  font-size: 20px;
  font-weight: 700;
  list-style: none;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar li a:hover {
  color: #f1356d;
  cursor: pointer;
}
.logo-container {
  display: flex;
  justify-content: space-between;
}
.logo-container h2 {
  font-size: 32px;
  font-weight: bold;
  color: #f1356d;
  margin: 0 10px;
}
.logo {
  background-image: url(./assets/online-shop-ecommerce-svgrepo-com.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.container-products {
  max-width: 1440px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  overflow: hidden;
}
.products-preview {
  display: flex;

  width: 48%;
  height: 400px;
  box-shadow: 1px 3px 5px hsla(0, 0%, 0%, 0.756);
  background-color: #fff;
}
.products-preview h2,
h4,
p {
  text-align: center;
  margin-bottom: 30px;
}
.products-preview h4 {
  color: hsla(0, 0%, 20%, 0.501);
}
.products-preview p {
  font-size: 26px;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
  overflow: hidden;
}
.products-preview img {
  padding: 30px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.5s ease-in-out;
}
.products-preview img:hover {
  transform: scale(1.1);
  cursor: grab;
}
.products-infos {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.price {
  background-color: hsla(0, 0%, 0%, 0.5);
  margin: 10px auto 10px auto;
  box-shadow: 3px 5px 7px #000;
  border-radius: 10px;
  display: flex;
  padding: 20px 40px;
  height: 65px;
  text-align: center;
  justify-content: center;
  z-index: 2;
  display: flex;
  gap: 10px;
}
.price .priceTag {
  color: #f2f2f2;
  margin-bottom: 5px;
  translate: 0px -5px;
}
.edit {
  margin-left: 20px;
  border: none;
  background-color: hsla(294, 87%, 58%, 0.933);
  border-radius: 5px;
  translate: 0px 2px;
  z-index: 2;
}
.edit:hover {
  cursor: pointer;
  background-color: hsla(251, 85%, 74%, 0.46);
}
.stocks {
  background-color: hsla(208, 61%, 62%, 0.5);
  margin: 10px auto 30px auto;
  box-shadow: 3px 5px 7px #000;
  border-radius: 10px;
  display: flex;
  padding: 20px 40px;
  height: 75px;
  gap: 10px;
  text-align: center;
  justify-content: center;
  z-index: 2;
}
.stocks p {
  font-size: 20px;
  font-weight: 800;
}
.stocks p .count {
  font-size: 36px;
  font-weight: bolder;
  color: green;
}
button {
  width: 30px;
  height: 30px;
}
.buttons-count {
  margin-left: 20px;
  gap: 10px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.input-price {
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  translate: 0px -1px;
  border: 2px solid #f1356d;
  height: 35px;
}
.input-stock {
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  translate: 0px -6px;
  border: 2px solid #f1356d;
}
.delete-button {
  background-color: black;
  border: none;
  border-radius: 5px;
  translate: 50% 50%;
  margin-bottom: 25px;
}
.delete-button:hover {
  cursor: pointer;
  background-color: hsla(0, 0%, 0%, 0.499);
}
.stocks .edit {
  background-color: hsla(294, 87%, 58%, 0.933);
  translate: 0px -0.5px;
}
.stocks .edit:hover {
  cursor: pointer;
  background-color: hsla(294, 87%, 58%, 0.933);
}
body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(169, 194, 216); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #f1356d; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid rgb(52, 45, 45); /* creates padding around scroll thumb */
}
/* Create Items page */
.create-entity {
  height: auto;
  max-width: 1440px;
  padding: 40px;
  background-color: #f2f2f2;
  display: flex;
}
form {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid rgb(169, 194, 216);
  border-radius: 15px;
}
label {
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: 900;
}
input {
  height: 30px;
  width: 80%;
  border: 3px solid #f1356d;
  border-radius: 15px;
  padding-left: 10px;
}
.create-inputs {
  padding: 10px;
}
.create-title {
  display: flex;
  flex-direction: column;
}
.create-price {
  display: flex;
  flex-direction: column;
}
.create-year {
  display: flex;
  flex-direction: column;
}
.create-stock {
  display: flex;
  flex-direction: column;
}
.create-img {
  display: flex;
  flex-direction: column;
}
form > div > button {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  width: 100px;
  height: 60px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f1356d;
  color: #f2f2f2;
}
form > div > button:hover {
  background-color: hsla(342, 87%, 58%, 0.571);
  color: #000;
}
.create-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview-image {
  border: 3px solid rgb(169, 194, 216);
  border-radius: 15px;
  width: 50%;
  margin-left: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h5 {
  font-size: 86px;
  color: #f1356d;
}
.bigLogoImage {
  background-image: url(./assets/online-shop-ecommerce-svgrepo-com.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  translate: 0 10%;
}
